    html,
    body {
        font-family: Arial, sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .container {
        height: 100%;
        position: relative;
    }

    #map {
        bottom: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0px;
    }

    input {
        font-size: 12px;
    }
    
    h1 {
        padding-top: 1cm;
        text-shadow: 2px 2px 8px #ef0846;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
    }

    h2 {
        color: #960335;
        
    }
    hr {
        background: #D0D7D9;
        height: 1px;
        margin: 20px 0 20px 0;
        border: none;
    }

    .options-box {
        z-index:1000000; 
        font-weight:bold; 
        font-size:0.8em; 
        width:30%; 
        background:#f1f1f1;  
        position:absolute; 
        text-align:center; 
        font-size:12px;
        right: 0px;

    }

    .text {
        font-size: 12px;
    }

    #pano {
        width: 200px;
        height: 200px;
    }
    
    header{
    width:100%; 
    background:#ffffff; 
    height:60px; 
    line-height:60px;
    border-bottom:1px solid #dddddd;
    }

    .hamburger{
      background:none;
      position:absolute;
      top:0;
      right:0;
      line-height:45px;
      padding:5px 15px 0px 15px;
      color:#00bcd4;
      border:0;
      font-size:2em;
      font-weight:bold;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
    }

    .cross{
      background:none;
      position:absolute;
      top:0px;
      right:0;
      padding:7px 15px 0px 15px;
      color:#999;
      border:0;
      font-size:3em;
      line-height:65px;
      font-weight:bold;
      cursor:pointer;
      outline:none;
      z-index:10000000000000;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }

    li {
        display: block;
        padding:15px 0 15px 0;
        border-bottom:#dddddd 1px solid;
    }

    li:hover {
        display: block;
        background:#ffffff;
        padding:15px 0 15px 0;
        border-bottom:#dddddd 1px solid;
    }
     